<h1 class="pageTitle">About Us</h1>
<div class="row frame">
    <div class="small-12 medium-6 large-8 columns">
        <p>
            At Magee and Associates we aim to provide outstanding service based on over 30 years of experience in residential real estate and excellent information systems designed to benefit our clients. Furthermore, we commit ourselves to the professionalism of our industry, teamwork within our organization, and work to be leaders in the real estate industry to raise our standards.
        </p>
        <p>
            When you sign up with The Magee Team, you not only get the benefit of years of personal experience, but you also get an entire professional team to help you. Together, we will be with you every step of the way...all the way to closing!  As our client, you will receive undivided attention and dedication from our Team. In return, we need your help. We rely on people like you to tell your family and friends to call us for all their Real Estate needs.
        </p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
        <img src="assets/images/about.jpg" />
    </div>
</div>
