<h1 class="pageTitle">Selling Your Home</h1>
<div class="row frame">
    <h3>Marketing Your Home</h3>
    <p>Marketing your home is a critical part of getting it sold. We spend a lot of our time thinking of better ways to do just that, so that we can minimize its time on the market. Below are some of the ways that we get the word out.</p>
    <h4>90% of property searches begin online.</h4>
    <p>In addition to listing your property in the Multiple Listing Service (MLS) here are some of the internet partners we use. Real estate syndication partners help your property get the worldwide exposure it deserves.</p>
    <div class="row">
        <div class="vendorContainer left small-6 columns">
            <a href="https://dallas.craigslist.org/" target="_blank"><img src="assets/images/vendor_left_1.jpg" /></a>
            <a href="https://www.trovit.com/" target="_blank"><img src="assets/images/vendor_left_2.jpg" /></a>
            <a href="https://www.realtor.com/" target="_blank"><img src="assets/images/vendor_left_3.jpg" /></a>
            <a href="https://www.zillow.com/" target="_blank"><img src="assets/images/vendor_left_4.jpg" /></a>
        </div>
        <div class="vendorContainer right small-6 columns">
            <a href="https://hotpads.com/" target="_blank"><img src="assets/images/vendor_right_1.jpg" /></a>
            <a href="https://www.oodle.com/" target="_blank"><img src="assets/images/vendor_right_2.jpg" /></a>
            <a href="https://www.trulia.com/" target="_blank"><img src="assets/images/vendor_right_3.jpg" /></a>
            <a href="http://vast.com/about/real-estate/real-estate-publishers.html" target="_blank"><img src="assets/images/vendor_right_4.jpg" /></a>
        </div>
    </div>
    <div class="row">
        <div class="socialContainer small-12 columns">
            <a href="https://www.facebook.com/mageerealtors/" target="_blank"><img src="assets/images/facebook.jpg" /></a>
            <a href="https://twitter.com/TheMageeTeam1" target="_blank"><img src="assets/images/twitter.jpg" /></a>
            <a href="http://www.youtube.com/c/MageeAssociatesRealtorsPlano" target="_blank"><img src="assets/images/youtube.jpg" /></a>
        </div>
    </div>
    <h4>Digital Flyer Blast</h4>
    <p>We distribute electronic flyers to our fellow agents in the metroplex. The MLS usually distributes your listing to searches that are currently set up, however an electronic flyer goes to 98% of the agents in the metroplex.</p>
    <img class="border" src="assets/images/meredith.jpg" />
    <h4>Personal Website</h4>
    <p>We create a website for each property while they are listed with us. Because 90% of buyers start their search on the internet. We believe maximizing the exposure to all interested parties.</p>
    <img class="border" src="assets/images/august.jpg" />
</div>
