<div class="sectional heroContainer">
    <div class="heroCTA">
        <div>MAGEE REALTORS</div>
        <div class="sub">Serving the Dallas Metroplex since 1986</div>
    </div>
    <div class="hero" [ngStyle]="{'background-image':'url(' + hero + ')'}"></div>
    <div class="hero newHero" [ngClass]="{'phasing': animating}" [ngStyle]="{'background-image':'url(' + newHero + ')'}"></div>
</div>
<div class="row sectional">
    <div *ngFor="let item of items1" class="small-12 medium-4 columns item">
        <a routerLink="{{item.routerLink}}">
            <span>{{item.name}}</span>
            <div class="item-circle" [ngStyle]="{'background-image':'url(' + item.source + ')'}">
            </div>
        </a>
    </div>
</div>
<div class="dark-block">
    <h1>Your Real Estate Consultants for Life!</h1>
    <p>We commit ourselves to professionalism in our industry, teamwork within our organization, work to be leaders in the real estate industry and help our clients fulfill their Real Estate Goals.</p>
</div>
<div class="row sectional">
    <div *ngFor="let item of items2" class="small-12 medium-6 columns item">
        <a routerLink="{{item.routerLink}}">
            <div class="item-box" [ngStyle]="{'background-image':'url(' + item.source + ')'}">
                <div>{{item.name}}</div>
            </div>
        </a>
    </div>
</div>