<h1 class="pageTitle">Buying Or Building A New Home</h1>
<div class="row frame">
    <h3>Why use a Real Estate agent to buy a New Home?</h3>
    <p>A New Home sales person works for the builder and is responsible for getting the best terms and price for the builder. When you have a real estate agent/buyer’s agent, they legally have a fiduciary duty to get the most favorable terms, and look out for your best interests.</p>
    <p><strong><i>“A fiduciary is a person who has a high duty of care for another person, the client. The law requires the fiduciary to place the client’s interest ahead of his or her interest.”</i></strong></p>
    <p>Real estate agents are overseen by the Real Estate Commission, are professionals and are there to advise you. If you do not have one with you, you might be at a disadvantage in contracts and negotiating with sellers and builders. If you intend to hire a buyer’s agent, you must do so before walking into the property the first time. Make sure you take your buyer’s agent with you.</p>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <img src="assets/images/new_home_kitchen.jpg" />
        </div>
        <div class="small-12 medium-6 columns">
            <img src="assets/images/new_home_room.jpg" />
        </div>
    </div>
</div>
